In [1]:
import os 
import numpy as np
import pandas as pd

In [4]:
counts = pd.read_csv("data/reference/final_gene_counts.csv")
counts.head()

,refseq,SRR3438884,SRR3438860,SRR3438634,SRR3438649,SRR3438578,SRR3438825,SRR3438792,SRR3438695,SRR3438897,...,SRR3438779,SRR3438906,SRR3438655,SRR3438752,SRR3438628,SRR3438839,SRR3438564,SRR3438689,SRR3438610,SRR3438717
0,NM_001005484.2,11,1,1,1,1,6,1,28,37,...,2,1,1,16,1,20,1,1,1,16
1,NM_152486.4,29,39,17,122,11,27,37,33,126,...,577,3,157,406,51,23,14,1,1,29
2,NM_015658.4,4227,4566,2510,2040,2184,4418,7483,5263,2600,...,5581,1815,1425,4629,2062,3406,2288,2,2113,5426
3,NM_198317.3,895,770,638,299,382,1012,1228,1057,348,...,1065,231,246,672,411,586,580,1,444,790
4,NM_032129.3,1,1,1,7,2,1,1,18,1,...,1,1,1,1,1,1,1,1,1,1

In [5]:
coldata = pd.read_csv("data/reference/SraRunTable.csv")
coldata.head()

,Run,age_at_death,Assay Type,AvgSpotLen,Bases,BioProject,BioSample,Brain_pH,brain_region,Bytes,...,LibrarySelection,LibrarySource,Organism,Platform,post-mortem_interval,ReleaseDate,Sample Name,source_name,SRA Study,TISSUE
0,SRR3438555,40,RNA-Seq,100,4177603300,PRJNA319583,SAMN04901133,6.76,AnCg,2585349730,...,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,12.25,2017-06-25T00:00:00Z,GSM2132201,AnCg_Control,SRP073813,brain
1,SRR3438556,58,RNA-Seq,100,4127971300,PRJNA319583,SAMN04901134,6.93,AnCg,2567182462,...,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,24.00,2017-06-25T00:00:00Z,GSM2132202,AnCg_Major Depression,SRP073813,brain
2,SRR3438557,56,RNA-Seq,100,4323572800,PRJNA319583,SAMN04901135,6.83,AnCg,2690248610,...,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,29.00,2017-06-25T00:00:00Z,GSM2132203,AnCg_Bipolar Disorder,SRP073813,brain
3,SRR3438558,49,RNA-Seq,100,3092070200,PRJNA319583,SAMN04901136,7.19,AnCg,1915194552,...,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,27.00,2017-06-25T00:00:00Z,GSM2132204,AnCg_Major Depression,SRP073813,brain
4,SRR3438559,31,RNA-Seq,100,5353395700,PRJNA319583,SAMN04901137,6.77,nAcc,3468863373,...,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,22.00,2017-06-25T00:00:00Z,GSM2132205,nAcc_Schizophrenia,SRP073813,brain

In [6]:
coldata['source_name'].unique()

array(['AnCg_Control', 'AnCg_Major Depression', 'AnCg_Bipolar Disorder',
       'nAcc_Schizophrenia', 'nAcc_Control', 'DLPFC_Bipolar Disorder',
       'DLPFC_Major Depression', 'AnCg_Schizophrenia', 'DLPFC_Control',
       'DLPFC_Schizophrenia', 'nAcc_Major Depression',
       'nAcc_Bipolar Disorder'], dtype=object)

In [53]:
filter_col = coldata[(coldata['source_name'] == 'DLPFC_Control') | 
                     (coldata['source_name'] == 'DLPFC_Bipolar Disorder')]
runs = list(filter_col['Run'].unique())
runs = ['refseq'] + runs
filter_counts = counts[runs]
filter_counts.to_csv("data/gc_dlpfc_b.csv")
#filter_col.to_csv("data/dlpfc_b.csv")

In [12]:
os.listdir('corrplot')
frame = pd.DataFrame()
col = pd.read_csv("corrplot/dlpfc_b.csv", index_col=0)['log2FoldChange']
if len(frame) == 0:
    frame = pd.DataFrame(col)
else:
    frame[]

NM_001005484.2    0.150574
NM_152486.4       0.686165
NM_015658.4      -0.135525
NM_198317.3      -0.136952
NM_032129.3       1.113296
                    ...
NM_005198.5       0.004604
NM_012324.6      -0.174599
NM_000487.6      -0.100506
NM_001097.3       0.256486
NM_001003789.3    0.151514
Name: log2FoldChange, Length: 17162, dtype: float64

In [20]:
frame = pd.DataFrame(col)
frame = frame.rename(columns={"log2FoldChange": "dlpfc_b"})

In [47]:
frame = pd.DataFrame()
for i in os.listdir('corrplot'):
    col = pd.read_csv("corrplot/" + i)['log2FoldChange']
    name = i[:-4]
    if len(frame) == 0:
        frame = pd.DataFrame(col)
        frame = frame.rename(columns={"log2FoldChange": name})
    else:
        frame[name] = col

In [48]:
frame

,dlpfc_b,ancg_m,dlpfc_s,nacc_m,nacc_b,nacc_s,ancg_b,ancg_s,dlpfc_m
0,0.150574,0.812852,-0.218060,0.571723,0.158231,0.600439,0.251921,0.909893,0.894358
1,0.686165,0.157519,0.247200,-0.023761,-0.019315,-0.272498,0.807995,0.374527,-0.126546
2,-0.135525,0.084398,-0.092272,-0.075633,-0.032920,-0.034512,-0.130937,-0.045228,-0.063054
3,-0.136952,-0.016684,-0.072191,0.091455,0.189099,0.043479,-0.099312,0.049266,-0.028985
4,1.113296,-0.402644,0.619206,0.249249,0.427432,0.550515,-0.130109,0.199761,0.040484
...,...,...,...,...,...,...,...,...,...
17157,0.004604,-0.067083,-0.053295,0.004733,0.155092,0.024926,0.057601,0.038884,-0.058782
17158,-0.174599,0.119060,-0.127127,-0.230398,0.010496,0.095872,-0.073969,-0.054387,-0.101212
17159,-0.100506,-0.037440,0.061717,-0.144315,0.084678,0.064062,-0.073096,-0.003756,0.012582
17160,0.256486,0.189454,0.072150,0.095705,0.130705,-0.056039,0.049249,0.196145,0.078192
17161,0.151514,0.171532,-0.014448,0.445681,0.364961,-0.142978,-0.244507,-0.160371,-0.220530

In [49]:
frame.to_csv("data/log2folds.csv")

In [50]:
pd.read_csv("data/log2folds.csv")

,Unnamed: 0,dlpfc_b,ancg_m,dlpfc_s,nacc_m,nacc_b,nacc_s,ancg_b,ancg_s,dlpfc_m
0,0,0.150574,0.812852,-0.218060,0.571723,0.158231,0.600439,0.251921,0.909893,0.894358
1,1,0.686165,0.157519,0.247200,-0.023761,-0.019315,-0.272498,0.807995,0.374527,-0.126546
2,2,-0.135525,0.084398,-0.092272,-0.075633,-0.032920,-0.034512,-0.130937,-0.045228,-0.063054
3,3,-0.136952,-0.016684,-0.072191,0.091455,0.189099,0.043479,-0.099312,0.049266,-0.028985
4,4,1.113296,-0.402644,0.619206,0.249249,0.427432,0.550515,-0.130109,0.199761,0.040484
...,...,...,...,...,...,...,...,...,...,...
17157,17157,0.004604,-0.067083,-0.053295,0.004733,0.155092,0.024926,0.057601,0.038884,-0.058782
17158,17158,-0.174599,0.119060,-0.127127,-0.230398,0.010496,0.095872,-0.073969,-0.054387,-0.101212
17159,17159,-0.100506,-0.037440,0.061717,-0.144315,0.084678,0.064062,-0.073096,-0.003756,0.012582
17160,17160,0.256486,0.189454,0.072150,0.095705,0.130705,-0.056039,0.049249,0.196145,0.078192
17161,17161,0.151514,0.171532,-0.014448,0.445681,0.364961,-0.142978,-0.244507,-0.160371,-0.220530

In [27]:
x = 'log2folds.csv'
x[:-4]

'log2folds'